<header>
    <div class="container text-center my-3">
        <div class="row align-items-center">
            <div class="col-md-3 col-lg-3">
                <h1>HOLA</h1>
            </div>
            <div class="col-md-9 col-lg-9 d-flex justify-content-end d-none d-md-flex">
                <h5 class="px-3">HOME</h5>
                <h5 class="px-3">ABOUT</h5>
                <h5 class="px-3">PORTFOLIO</h5>
                <h5 class="px-3">CONTACT</h5>
            </div>

        </div>
    </div>
</header>