<section class="container my-5 py-5">
    <div class="row" style="width: auto;">
        <div class="col-12 pb-3 text-center">
            <h2>LATEST PROJECT</h2>
        </div>
        <div *ngFor="let item of [1,2,3]" class="col-md-4 col-sm-12 px-3 mb-3 text-center" style="height: 100%;">
            <div class="card bg-dark text-white rounded-5">
                <img src="./assets/PORTFOLIO-IMAGE.png" class="card-img rounded-5" alt="" height="auto" width="auto">
                <div class="card-img-overlay text-center">
                    <h4 class="card-title">COMING SOON</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, enim aliquam!
                        Aliquid, necessitatibus dignissimos! Officia reprehenderit dolorum, facere est porro dolor iure
                        fugiat velit illum corporis, accusantium iusto dolores libero.</p>
                </div>
            </div>
            <div class="px-2">
                <button type="button" class="btn rounded-pill mx-2 my-3 px-4"
                    style="background-color: #5c469c; color: white;"><i class="bi bi-box-arrow-right"></i> VISIT
                    PROJECT</button>
                <button type="button" class="btn rounded-pill mx-2 my-3 px-4"
                    style="background-color: #5c469c; color: white;"><i class="bi bi-github"></i></button>
            </div>
        </div>
    </div>
</section>