<section class="container bsb-timeline-2 my-5 py-5">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-xl-6">
            <ul class="timeline">
                <li class="timeline-item">
                    <span class="timeline-icon" style="background-color: #5c469c;">
                        <i class="bi bi-book text-white"></i>
                    </span>
                    <div class="timeline-body">
                        <div class="timeline-content">
                            <div class="card border-0">
                                <div class="card-body p-0" style="background-color: #070F2B; color: #f0ece5;">
                                    <h6 class="card-subtitle text-secondary mb-1">2024</h6>
                                    <h4 class="card-title mb-3">KONRAD LORENZ<h6>(SYSTEMS
                                            ENGINEER)</h6>
                                    </h4>
                                    <p class="card-text m-0">I'm learning about new development technologies
                                        such as
                                        artificial intelligence, big data, and UI/UX.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="timeline-item">
                    <span class="timeline-icon" style="background-color: #5c469c;">
                        <i class="bi bi-code-slash text-white"></i>
                    </span>
                    <div class="timeline-body">
                        <div class="timeline-content">
                            <div class="card border-0">
                                <div class="card-body p-0" style="background-color: #070F2B; color: #f0ece5;">
                                    <h6 class="card-subtitle text-secondary mb-1">2022</h6>
                                    <h4 class="card-title mb-3">PERIFERIA IT<h6>(FULL-STACK DEVELOPER)</h6>
                                    </h4>
                                    <p class="card-text m-0">I am a Full-Stack Developer with experience in
                                        designing, developing, and implementing complete web applications. I
                                        have
                                        expertise in multiple technologies.
                                    </p>
                                    <p></p>
                                    <p class="card-text m-0"> I built endpoints using the Flask framework to
                                        handle
                                        CRUD operations, generate dynamic PDFs, and Excel files.
                                    </p>
                                    <p></p>
                                    <p> I implemented and developed a sandbox to encrypt and decrypt all HTTP
                                        requests using security headers.
                                    </p>
                                    <p></p>
                                    <p>I wrote unit tests and applied clean code principles to all my
                                        developments,
                                        achieving over 80% coverage based on SonarCloud.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="timeline-item">
                    <span class="timeline-icon" style="background-color: #5c469c;">
                        <i class="bi bi-book text-white"></i>
                    </span>
                    <div class="timeline-body">
                        <div class="timeline-content">
                            <div class="card border-0">
                                <div class="card-body p-0" style="background-color: #070F2B; color: #f0ece5;">
                                    <h6 class="card-subtitle text-secondary mb-1">2019 - STOPPED</h6>
                                    <h4 class="card-title mb-3">COOPERATIVE OF COLOMBIA UNIVERSITY<h6>(SYSTEMS
                                            ENGINEER)</h6>
                                    </h4>
                                    <p class="card-text m-0">I learned about operating systems, databases,
                                        networking, programming, data mining, and artificial intelligence.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>