<div class="container">
    <div class="row m-0" style="width: 100%;">
        <div class="col p-3" style="background-color: #121212; border-radius: 25px; height: auto;">
            <!-- Mobile -->
            <div class="d-lg-none">
                <svg style="color: #ff5646;" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 24 24" fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
                </svg>
                <svg style="color: #f4bf4f;" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 24 24" fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
                </svg>
                <svg style="color: #61c554;" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 24 24" fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
                </svg>
            </div>
            <div class="d-flex mx-2 d-lg-none" style="width: auto;">
                <p class="text-nowrap" style="font-family: 'Consolas', monospace; font-size: 6px;">
                    class Persona:<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;def __init__(self, name, age, gender, phone, languages, skills,
                    hobbies):<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.name = 'Wolfang Herrera'<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.age = 21<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.gender = 'male'<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.phone = '+57 (313)-450 8305'<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.languages = ['Spanish',
                    'English']<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.skills = ['Python', 'Typescript' ,
                    'AWS', 'Git', 'Scrum']<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.hobbies = 'taking a walk with my
                    dog and workout'<br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;def __str__(self):<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return f'Hey, I'm {{'{self.name}'}},
                    I'm {{'{self.age}'}} years old and in
                    my free time,<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    I enjoy
                    {{'{self.hobbies}'}}.'<br>
                    <br>
                    <br>
                    print(Persona())<br>
                    >>> Hey, I'm Wolfang Herrera, I'm 21 years old and in my free time, I enjoy taking a walk <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;with my dog and workout.
                </p>
            </div>
            <!--  Desktop -->
            <div class="d-none d-lg-block">
                <svg style="color: #ff5646;" xmlns="http://www.w3.org/2000/svg" width="35" height="35"
                    viewBox="0 0 24 24" fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
                </svg>
                <svg style="color: #f4bf4f;" xmlns="http://www.w3.org/2000/svg" width="35" height="35"
                    viewBox="0 0 24 24" fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
                </svg>
                <svg style="color: #61c554;" xmlns="http://www.w3.org/2000/svg" width="35" height="35"
                    viewBox="0 0 24 24" fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
                </svg>
            </div>
            <div class="d-flex mx-5 d-none d-lg-block" style="width: auto;">
                <p class="text-nowrap " style="font-family: 'Consolas', monospace;">
                    class Persona:<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;def __init__(self, name, age, gender, phone, languages, skills,
                    hobbies):<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.name = 'Wolfang Herrera'<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.age = 21<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.gender = 'male'<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.phone = '+57 (313)-450 8305'<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.languages = ['Spanish',
                    'English']<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.skills = ['Python', 'Typescript' ,
                    'AWS', 'Git', 'Scrum']<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;self.hobbies = 'taking a walk with my
                    dog and workout'<br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;def __str__(self):<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return f'Hey, I'm {{'{self.name}'}},
                    I'm {{'{self.age}'}} years old and in my free time, I enjoy {{'{self.hobbies}'}}.'<br>
                    <br>
                    <br>
                    print(Persona())<br>
                    >>> Hey, I'm Wolfang Herrera, I'm 21 years old and in my free time, I enjoy taking a walk with my
                    dog and workout.
                </p>
            </div>
        </div>
    </div>
</div>