<section class="container d-block justify-content-center py-5 my-5">
    <div class="row" style="width: auto;">
        <div class="col-12 pb-3 text-center">
            <h2>{{textComponent.title}}</h2>
        </div>
        <!-- Mobile -->
        <div class="col p-3" style="background-color: #121212; border-radius: 25px; height: auto;">
            <div class="">
                <svg style="color: #ff5646;" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 24 24" fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
                </svg>
                <svg style="color: #f4bf4f;" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 24 24" fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
                </svg>
                <svg style="color: #61c554;" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    viewBox="0 0 24 24" fill="currentColor"
                    class="icon icon-tabler icons-tabler-filled icon-tabler-point">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" />
                </svg>
            </div>
            <div class="mx-2" style="width: auto;"></div>
            <p class="text-wrap" style="font-family: 'Avenir Book', 'Sen', monospace; font-size: 0.8vw;">
                <span style="color: #b499ee;">class</span><span style="color: #c2caf1;"> Person:</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #b69bf1;">def</span> <span style="color: #50aac6;">
                    __init__</span><span style="color: #708bd0;">(<span style="color: #d8b172;">self</span>)</span><span
                    style="color: #708bd0;"></span>:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span span
                    style="color: #e77d8f;">self</span><span style="color: #9cdbfb;">.</span><span
                    style="color: #aab1d3;">name</span><span style="color: #84b7d3;"> = </span><span
                    style="color: #9cdbfb;">'<span
                        style="color: #a8cd76;">{{textComponent.classPerson.name}}</span>'</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span span
                    style="color: #e77d8f;">self</span><span style="color: #9cdbfb;">.</span><span
                    style="color: #aab1d3;">age</span> <span style="color: #84b7d3;"> = </span><span
                    style="color: #d69166;">{{textComponent.classPerson.age}}</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span span
                    style="color: #e77d8f;">self</span><span style="color: #9cdbfb;">.</span><span
                    style="color: #aab1d3;">gender</span> <span style="color: #84b7d3;"> = </span><span
                    style="color: #9cdbfb;">'<span
                        style="color: #a8cd76;">{{textComponent.classPerson.gender}}</span>'</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span span
                    style="color: #e77d8f;">self</span><span style="color: #9cdbfb;">.</span><span
                    style="color: #aab1d3;">phone</span> <span style="color: #84b7d3;"> = </span> <span
                    style="color: #9cdbfb;">'<span
                        style="color: #a8cd76;">{{textComponent.classPerson.phone}}</span>'</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span span
                    style="color: #e77d8f;">self</span><span style="color: #9cdbfb;">.</span><span
                    style="color: #aab1d3;">languages</span> <span style="color: #84b7d3;"> = </span><span
                    style="color: #708bd0;">[
                    <span><span style="color: #9cdbfb;">'<span
                                style="color: #a8cd76;">{{textComponent.classPerson.language[0]}}</span>', <span
                                style="color: #9cdbfb;">'<span
                                    style="color: #a8cd76;">{{textComponent.classPerson.language[1]}}</span>'</span></span></span>
                    ]</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span span
                    style="color: #e77d8f;">self</span><span style="color: #9cdbfb;">.</span><span
                    style="color: #aab1d3;">skills</span> <span style="color: #84b7d3;"> = </span><span
                    style="color: #708bd0;">[
                    <span>
                        <span *ngFor="let skill of textComponent.classPerson.skills; let i = index">
                            <span style="color: #9cdbfb;">'<span
                                    style="color: #a8cd76;">{{textComponent.classPerson.skills[i]}}</span>'</span>
                            <span *ngIf="i < textComponent.classPerson.skills.length - 1">, </span>
                        </span>
                    </span>
                    ]</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span span
                    style="color: #e77d8f;">self</span><span style="color: #9cdbfb;">.</span><span
                    style="color: #aab1d3;">hobbies</span> <span style="color: #84b7d3;"> = </span> <span
                    style="color: #9cdbfb;">'<span
                        style="color: #a8cd76;">{{textComponent.classPerson.hobbies}}</span>'</span><br>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #b69bf1;">def</span> <span style="color: #50aac6;">
                    __str__</span><span style="color: #708bd0;">(<span style="color: #d8b172;">self</span>)</span><span
                    style="color: #708bd0;"></span>:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #b69bf1;">return
                    f</span><span style="color: #9cbe6f;"><span
                        style="color: #9cdbfb;">'</span><span>{{textComponent.returnStrClass[0]}}
                        <span style="color: #6a84c5;">{{'{'}}<span span style="color: #e77d8f;">self</span><span
                                style="color: #9cdbfb;">.</span><span
                                style="color: #aab1d3;">name</span>{{'}'}}</span>{{textComponent.returnStrClass[1]}}<span><span
                                style="color: #6a84c5;">{{'{'}}<span span style="color: #e77d8f;">self</span><span
                                    style="color: #9cdbfb;">.</span><span
                                    style="color: #aab1d3;">age</span>{{'}'}}</span></span>{{textComponent.returnStrClass[2]}}
                        <span><span style="color: #6a84c5;">{{'{'}}<span span style="color: #e77d8f;">self</span><span
                                    style="color: #9cdbfb;">.</span><span
                                    style="color: #aab1d3;">hobbies</span>{{'}'}}</span></span>.</span><span
                        style="color: #9cdbfb;">'</span></span><br>
                <br>
                <br>
                <span style="color: #42859c;">print</span><span style="color: #708acf;">(Person())</span><br>
                <span style="color: #b69bf1;">>>></span> {{textComponent.returnClass}}
            </p>
        </div>
    </div>
</section>