<div class="container m-0">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <h2 class="text-center">CONTACT US</h2>
            <form>
                <div class="row g-3">
                    <div class="col-12">
                        <label for="your-name" class="form-label">YOUR NAME</label>
                        <input type="text" class="form-control" id="your-name" name="your-name" required>
                    </div>
                    <div class="col-12">
                        <label for="your-subject" class="form-label">YOUR SUBJECT</label>
                        <input type="text" class="form-control" id="your-subject" name="your-subject">
                    </div>
                    <div class="col-12">
                        <label for="your-message" class="form-label">YOUR MESSAGE</label>
                        <textarea class="form-control" id="your-message" name="your-message" rows="5"
                            required></textarea>
                    </div>
                    <div class="col-sm-12 d-lg-none d-flex justify-content-center text-center">
                        <div class="px-2">
                            <button type="button" class="btn rounded-pill my-3 px-4"
                                style="background-color: #5c469c; color: white;"><i class="bi bi-whatsapp"></i></button>
                        </div>
                        <div class="px-2">
                            <button type="button" class="btn rounded-pill my-3 px-4"
                                style="background-color: #5c469c; color: white;"><i class="bi bi-envelope"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12 d-none d-lg-flex justify-content-center text-center">
                        <div class="px-2">
                            <button type="button" class="btn rounded-pill my-3 px-4"
                                style="background-color: #5c469c; color: white;"><i class="bi bi-whatsapp"></i>
                                CONTACT ME VIA WHATSAPP</button>
                        </div>
                        <div class="px-2">
                            <button type="button" class="btn rounded-pill my-3 px-4"
                                style="background-color: #5c469c; color: white;"><i class="bi bi-envelope"></i> CONTACT
                                ME
                                VIA MAIL</button>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>