<header>
    <div class="container text-center">
        <div class="row d-flex align-items-center" style="height: 10vh;">
            <!-- Mobile -->
            <div class="col-sm-12 text-center d-none d-sm-flex">
                <img src="./assets/LOGO.png" alt="" width="80px">
            </div>
            <!-- Website -->
            <div class="col-md-3 align-items-center text-start d-md-flex d-sm-none">
                <img src="./assets/LOGO.png" alt="" width="80px" class="px-1">
                <h3>WOLFANG DEVS</h3>
            </div>
            <div class="col-md-9 justify-content-end d-md-flex d-sm-none">
                <h5 (click)="scrollToComponent('body')" class="px-3" style="color: #5c469c;">{{textComponent.body}}</h5>
                <h5 (click)="scrollToComponent('about')" class="px-3">{{textComponent.about}}</h5>
                <h5 (click)="scrollToComponent('portfolio')" class="px-3">{{textComponent.portfolio}}</h5>
                <h5 (click)="scrollToComponent('contact')" class="px-3">{{textComponent.contact}}</h5>
            </div>
        </div>
    </div>
</header>
